# Dependency directories
node_modules

# Yarn lock
yarn.lock
yarn-error.log

# Local config
config-local.json

# Build project
dist/

# IDE folders
.vscode/

# Draft files
draft.*

# logs
logs/

# package-lock
package-lock.json
